@font-face {
  font-family: 'Orbitron';
  src: url('./font/Orbitron-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Alkatra';
  src: url('./font/Alkatra-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'KonkhmerSleokchher';
  src: url('./font/KonkhmerSleokchher-Regular.ttf') format('truetype');
}
